#landing-section-high {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('assets/images/HIGH SCHOOL.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}