#landing-section-high {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('assets/images/High.jpg');

    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}
.landing-section-high{
    display: flex;
    flex-direction:column;
}
.campus-information-container {
display:flex;
text-align:center;
width:auto;
}

.subject-section-high{
    display:flex;
    align-items: center;
}
.logo-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.landing-header-high-1 h1 {
    font-size: 3rem;
    text-decoration: none;
   
}
 .landing-header-high-1 img {
    width: 300px;
    height: 340px;
    left:200px;
}
#about-section-high-1 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('assets/images/about-high-banner-1.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
}  
.about-header-high-1{
    display: flex;
     justify-content: space-between; 
    gap:20px;
    padding:20px;
  }
  .about-column-high-1, .about-column-high-2{
    flex:1;
    padding:10px;
    box-sizing:border-box;
    color:white;
  }
#about-section-high-2 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('assets/images/about-high-banner-2.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
  
} 

.subject-section-cont{
 position: absolute;
    left:50%;
    
}
/* ct-form {
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #faf9f6;
    background: rgba(34, 33, 33, 0.60);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
} */

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form label {
    font-size: 1rem;
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form textarea {
    resize: vertical;
}
.subject-items ul{
   
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 20px;
    justify-content: center;
  }    
.contact-form .submit-btn {
    background-color: #78007c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: #041f60;
}
.seniors-header h1, h2{
    color: white;
}

.landing-header-high-1{

   
 


    display: flex;
  justify-content: center;
    margin-top:100px;
    
}
.seniors-values-cont{

    color:#000
}
.seniors-header{
    
text-align: center; 

min-width:100vw;
padding: 20px; 
background-color: rgba(100, 100, 100, 0.7); 
border-radius: 10px; 
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.seniors-values h1 {
    font-size: 60px; 
    font-weight: bold;
    margin: 0 0 20px 0; 
    
  }
  

  .seniors-sub h2 {
    font-size: 40px; 
    margin: 10px 0; 
    color: #34495e; 
    line-height: 1.5; 
  }

  .landing-contact-cont{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }