/*landing page background image*/
#landing-section-high {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('assets/images/High.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;

}
#landing-section-high::before {
    content: "";
    position: fixed; /* Covers the whole viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Adjust darkness */
    z-index: -1; /* Places it behind content */
}

/* landing page logo image */
 .landing-header-high-1 img {
    width: 300px;
    height: 340px;
    left:200px;
    
}



/*landing page text*/
.seniors-header{
    text-align: center; 
   
 
    padding: 20px; 
    
    }

    .seniors-values h1 {
        font-size: clamp(2rem, 3vw, 80px);
        font-weight: bold;
        margin: 0 0 20px 0; 
        
      }


      .seniors-sub h2 {
        font-size: clamp(1.5rem, 2.5vw, 3rem);
        margin: 10px 0; 
        color: white;
                line-height: 1.5; 
      }

      .seniors-header h1, h2{
        color: white;
    }
    






/*cards background image*/
#about-section-high-2 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('assets/images/about-high-banner-2.jpg'    );
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    content: '';
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1;
}
  
/*about cards*/

.about-cards-cont-h {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
    padding-top: 0;
    transform: translateY(-55px);
    max-height: 90vh
}

.about-card-h {

    background: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #333;
    height: auto;
    flex: 1 1 calc(30% - 20px);
    min-width: 250px; 
    max-width: 400px
}

.about-card-h img {
    height: clamp(20px, 6vw, 80px); 
    width: clamp(20px, 6vw, 80px);
}
.about-card-h h2 {
    font-size: clamp(1rem, 2vw, 1.6rem);
    margin-bottom: (5px, 2vw, 10px);
    color: #041f60;
}

.about-card-h p {
    font-size: clamp(0.5rem, 1.5vw, 1.2rem);
        color: #555;
}

.about-text-h {
    text-align: center;
    color: white;
    font-size: 1.4rem;
    color: #333333;
}

.about-header-h {
    font-size: 3.5rem;
    color: #78007c;
    font-weight: bold;
    text-align: center;
    transform: translateY(-63px);
}






/* mobile styles */
  @media(max-width:100px){




    
  }